<!-- ヘッダー -->
    <header class="header01">
      <div class="logo">万両</div>
      <nav class="nav">
        <ul class="item">
          <li class="list">
            <a href="#">万両の歴史</a>
          </li>
          <li class="list">
            <a href="#">最新情報</a>
          </li>
          <li class="list">
            <a href="#">お店情報</a>
          </li>
          <li class="list">
            <a href="#">予約はこちら</a>
          </li>
        </ul>
      </nav>
    </header>


