    <header class="header01">
      <div class="header_logo">万両</div>
      <nav class="nav">
        <ul class="header_item">
          <li><%= link_to 'トップページに戻る', root_path, class: "header_list" %></li>
        </ul>
      </nav>
    </header>