/******************************************************** 
　フッター
********************************************************/

.footer01{
  background: linear-gradient(225deg,#FCFAF2,#91989F);
  padding: 1rem;
  font-family: "游明朝";

}

.footer-container{
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}

.footer-container-content{
  width: 40%;

}

.footer_logo{
  width: 100px;
  height: 50px;
  margin-bottom: 1.5rem;
  font-size: xx-large;
}

.footer_nav{
  margin-bottom: 1.5rem;

}

.footer_list {
  padding-bottom: 1rem;

}

nav.nav ul.item li.f_list a{
  font-weight: bold;
  color: #fff;
  font-size: 0.8rem;
}

ul.sns-container{
  display: flex;
  margin-bottom: 1.5rem;

}

.list_contact{
  display: inline-block;
  background: #FFC408;
  color: #fff;
  font-size: 0.9rem;
  border-radius: 30px;
  padding: 0.5rem 1.2rem;
}

ul.sns-container li.f_list img.icon-twitter{
  width: 30px;
  height: auto;
}


ul.sns-container li.f_lust img.icon-facebook{
width: 25px;
height: auto;
}

ul.sns-container li.f_lust img.icon-instagram{
  width: 25px;
  height: auto;
}

.footer-container-image{
  background:url(build.png)no-repeat;
  background-size: cover;
  width: 30%;
}

p.copyright{
  color: #fff;
  background-color: #213871;
  padding: 0.8rem;
}