/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}









/******************************************************** 
　メイン
********************************************************/

.fv-container {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(0deg, #494f4a, #08192d);
  font-family: "游明朝";
  color: #fff;
}

.item-lists{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.item-img-content{
  padding: 2rem;
}

.item-img{
  width: 200px;
  height: 50vh;
}




